<%include  ./partials/header.ejs%>
<div class="w-full h-12 items-center bg-slate-800 text-white flex flex-wrap justify-between w-full px-10">
    <h1>Pinterest</h1>
    <div class="flex flex-wrap gap-10 ">
        <a href="/userprofile">Profile</a>
        <a href="/feed">Feed</a>
        <a class="px-2 py-1 rounded-lg bg-red-700 text-slate=800" href="/logout">Logout</a>
    </div>
</div>
<div class="w-full h-screen bg-zinc-800">
    <div class="font-bold text-5xl underline text-white text-center">your all posts</div>
    <div class="cards flex flex-wrap  gap-10 px-10 py-8">
       <% user.posts.forEach(function(elem){%>
        <div class="card">

            <div class="w-52 h-40 rounded-lg overflow-hidden bg-sky-400">
                <img class="w-full h-full object-cover" src="/images/uploads/<%=elem.image %>" alt="">
            </div>
            <p class="text-white text-xs "><%=elem.title%></p>
        </div>

  <%     })  %>
       
       

    </div>

</div>
<%include  ./partials/footer.ejs%>
